.schema {
  margin-top: 38px;
}

.schemaTable_column {
  max-width: 450px;
  min-width: 100px;
}

.requiredTag {
  background-color: #df1b42;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.fieldDescription {
  padding: 4px 0;
  font-size: 12px;
}

.fieldEnumValue {
  font-size: 12px;
}

/* Fields Tag */
.tag.fields {
  margin-left: 8px;
  background-color: #4f546d;
}

.fieldExampleHighlight {
  font-weight: 600;
}

/* Field Description */
.fieldDescription {
  width: 100%;
  font-size: 12px;
}

.fieldDescription .name {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Permissible Values */

.codeList {
  padding: 4px 0;
}

.codeList .toggleMore {
  color: #523785;
  text-decoration: underline;
  display: flex;
  align-content: center;
}

.codeList .toggleMore:hover {
  cursor: pointer;
}

.codeList .toggleMore svg {
  margin-left: 2px;
  margin-top: 1px;
}
