.schema {
  margin-top: 20px;
}

.schemaTitle {
  font-size: 24px;
}

.schemaTable_column {
  max-width: 450px;
  min-width: 100px;
}

.requiredTag {
  background-color: #df1b42;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.fieldDescription {
  padding: 4px 0;
  font-size: 12px;
}

.fieldEnumValue {
  font-size: 12px;
}

/* Fields Tag */
.fieldsTag {
  background-color: #4f546d;
}

.fieldExample {
  display: inline-block;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 14px;
}

.fieldExample > span {
  font-weight: 600;
}

/* Field Description */
.fieldDescription {
  font-size: 12px;
}
.fieldDescription .name {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Permissible Values */

.codeList {
  padding: 4px 0;
}

.codeList .viewMore {
  color: #523785;
  text-decoration: underline;
  display: flex;
  align-content: center;
}

.codeList .viewMore:hover {
  cursor: pointer;
}

.codeList .viewMore svg {
  margin-left: 2px;
  margin-top: 1px;
}
