.DS_Store
.vscode
*/node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

temp/

.env

ignore




#updoc
# dependencies
./updoc/node_modules
# next.js
./updoc/.next/
./updoc/out/
# production
./updoc/build
updoc/.next/
