.fileFilters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  background: var(--argo-grey-4);
  border: solid 1px var(--argo-grey-2);
  margin-top: 8px;
  margin-bottom: 30px;
}

.fileFilters .dataSelectors > div {
  margin: 0 7px 0 5px;
}

.fileFilters [role='button'],
.search > div {
  min-height: 28px;
  height: 28px;
}

.fileFilters .search svg {
  height: 16px;
  width: 16px;
}

.fileFilters > div {
  display: flex;
  align-items: center;
}
