.searchEntryWrapper {
  width: 445px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #babcc2;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchEntryIcon {
  padding: 14px;
  padding-left: 12px;
}

.searchEntryInput {
  border: none;
  height: 100%;
  width: 100%;

  font-size: 18px;

  color: #525767;
  font-weight: 300;
}

.searchEntryInput::placeholder {
  color: #525767;
  font-weight: 300;
  font-size: 18px;
}
