.post {
   line-height: 1.64;
}

.post .postHeader .postHeaderTitle {
  color: #151c3d;
  font-size: 35px;
  font-weight: normal;
}

.post article h1,
.post article h2,
.post article h3,
.post article h4,
.post article h5 {
  color: #151c3d;
  font-weight: normal;
}

.post article h2::after {
  content: '';
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 76px;
  height: 3px;
  border-radius: 1.5px;
  background: #4bcee5;
  left: 0;
}

.post article h2:nth-of-type(6n + 1):after {
  background: #4bcee5;
}
.post article h2:nth-of-type(6n + 2):after {
  background: #24dbb4;
}
.post article h2:nth-of-type(6n + 3):after {
  background: #f95d31;
}
.post article h2:nth-of-type(6n + 4):after {
  background: #7f55cc;
}
.post article h2:nth-of-type(6n + 5):after {
  background: #fea430;
}
.post article h2:nth-of-type(6n):after {
  background: #0774d3;
}

.post article p {
  font-size: 14px;
  font-weight: normal;
}
.post article ul {
  font-size: 14px;
}

.post article ol li {
  position: relative;
  font-size:14px;
  margin-bottom:8px;
}

/*Aleks and Kim testing blockquote */

.post article blockquote {
  color: black;
  background-color: #FEE8CB;
  border-left: 8px solid #FEBA63;
}

.docs-prevnext .button
{
  color:#523785;
  font-size:12px;
}
