.mainContainer {
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
}

.dict {
  margin: 0 30px;
}

.menu {
  width: 155px;
  margin: 0 15px;
  flex-shrink: 0;
}

.heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.infobar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infobar .downloads button:not(:last-child) {
  margin-right: 8px;
}

.infobar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
