.mainContainer {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1100px;
}

.heading {
  display: flex;
  flex-direction: row;
}

.infobar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infobar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.requiredTag {
  background-color: #df1b42;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.schemaTitle {
  font-size: 24px;
}

.schemaTable_column {
  max-width: 450px;
  min-width: 100px;
}

.fieldDescription {
  font-size: 12px;
}

.fieldEnumValue {
  font-size: 12px;
}
