.mainContainer {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1100px;
}

.heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.infobar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infobar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
